.button {
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  font-weight: 500;
  padding: 10px;
  border: none;
  cursor: pointer;
  position: relative;

  &:active {
    bottom: -2px;
  }

  &-white {
    background-color: #fff;
    color: #000;

    &:disabled {
      color: gray;
    }
  }
  &-purple {
    background-color: #a056d9;
    color: #fff;

    &:disabled {
      color: gray;
    }
  }
}
