/* Tamanhos de Tela
    sm(small): 640px
    md(medium): 768px
    lg(large): 1024px
    xl(extra-large): 1280px
    2xl(2 extra-large): 1536px
*/

.cards-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
@media screen and (min-width: 1024px){
  .cards-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
