.card {
  max-width: 350px;
  border-radius: 25px;
  padding: 30px;

  &_item {
    padding: 10px;
  }
  &-plan {
    font-size: 22px;
  }
  &-price {
    font-size: 40px;
    font-weight: 500;
  }
  &-orange {
    background-color: #fd7557;
  }
  &-purple {
    background-color: #ede1ff;
  }
}
